<%- include('bootheader') -%>
<%- include('menubar') -%>
<img src="images/B.png" class="img-fluid" width="100%" >

    <div class="jumbotron">
        <h1>Book Discussion</h1>
        <p>Talk about books you like</p>
    </div>
    <a href="/forum"><h1>Discussion</h1></a>

<%- include('bootfooter') -%>
